.course-img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
}

.card.animated {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.animated:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.header-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.option-dropdown > li{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.option-dropdown > li:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}