.course-img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
}

.card.animated {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.animated:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.header-item > a{
    padding-inline: 10px;

}
.header-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.option-dropdown > li{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.option-dropdown > li:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.card-info {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-info:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* footer animation */
.footer-links ul li a.animated {
    transition: all 0.3s ease,  box-shadow 0.3s ease;
}
.footer-links ul li a.animated:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.social-links a i {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-links a:hover  {
  transform: rotate(360deg) scale(1.1);
  color: #0077b5; /* Changes icon color on hover - adjust as needed */
}